body{
  font-family: 'Roboto', sans-serif;
}

#login-holder{
  height: 45vh;
  width: 45vh;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  opacity: 1;
}

.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  height: 30px;
  color: #333;
  border-radius: 5px;
  width: 75%;
  border: 0.5px solid #ccc;
  margin: 5px;
  padding: 0 10px;
}

input[type=button], input[type=submit], input[type=reset]{
  box-sizing: unset; 
  height: 'min-content';
  background-color: #ff8838;
  color: #f2f2f2;
  font-weight: bold;
  padding: 7px 12px;
  margin: 7px;
}

#loading{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-box{
  width: 30%;
  height: min-content;
  border-radius: 7px;
  background-color: #fff;
  border: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}